
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,100&display=swap');

body {
    background: #6E4555;
    padding: 20px;
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: large;
}

p {
  font-size: small;
}

a {
  text-decoration: none;
  color: white;
}

.profile-img {
  width: 12.5%;
  border-radius: 50%;
}

.btn {
  display: block;
  color: black;
  padding: 20px;
  background-color: white;
  margin: 16px;
  box-shadow: 10px 10px 8px;
}
